.ArtistBlockContainer {
    width: fit-content;
    display: flex;
    gap: 25px;
}

.ArtistBlockImage {
    border-radius: 100%;
    text-align: left;
}

.ArtistBlockName {
    margin: auto;
    font-size: 1.25rem;
}