.PlaylistBlockContainer {
    width: fit-content;
    display: flex;
    gap: 25px;
}

.PlaylistBlockNameContainer {
    margin: auto;
    text-align: left;
}

.PlaylistBlockName {
    margin: auto;
    font-size: 1.15rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}