.profileDetailsContainer {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

.profileDetailsImage {
    border-radius: 100%;
}

.profileDetailsUsername {
    font-size: 3rem;
    margin: 25px 0;
}

.profileDetailsStatsContainer {
    display: flex;
}

.profileDetailsStatsItem {
    flex-basis: 0;
    flex-grow: 1;
    font-size: 1.2rem;
    color: rgb(191, 191, 191);
}

.profileDetailsStatsItemGreenText {
    color: rgb(153, 230, 180);
}