.SongBlockContainer {
    width: fit-content;
    display: flex;
    gap: 25px;
}

.SongBlockNameContainer {
    margin: auto;
    text-align: left;
}

.SongBlockName {
    margin: auto;
    font-size: 1.15rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}