.TopArtistContainer {
    flex-grow: 1;
}

.TopArtistTextContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.TopArtistTitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.TopArtistSeeMore {
    font-size: 1rem;
    font-weight: lighter;
}

.TopArtistBlockContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;
}
