.TopSongContainer {
    flex-grow: 1;
}

.TopSongTitle {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
}

.TopSongBlockContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;
}